<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="auth-service" packages="by.modsen.authservice">
    <Properties>
        <Property name="applicationName">auth-service</Property>
        <Property name="kafka.bootstrap.servers">kafka-0:9092,kafka-1:9092,kafka-2:9092</Property>
        <Property name="log.topic">logs</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5p %c - %m%n"/>
        </Console>

        <Kafka name="KafkaAppender" topic="${log.topic}">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} ${applicationName} traceId: %X{traceId} spanId: %X{spanId} [%thread] %-5level %logger{36} - %msg%n"/>
            <Property name="bootstrap.servers">${kafka.bootstrap.servers}</Property>
            <Property name="max.block.ms">10000</Property>
            <Property name="reconnect.backoff.ms">100</Property>
            <Property name="retry.backoff.ms">100</Property>
            <Property name="linger.ms">100</Property>
            <Property name="batch.size">2</Property>
            <Property name="block.on.buffer.full">false</Property>
            <Property name="buffer.memory">2147483647</Property>
        </Kafka>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="KafkaAppender"/>
        </Root>
        <Logger name="org.apache.kafka" level="warn" />
    </Loggers>
</Configuration>
